<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sdecima.androidkeepalive2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.sdecima.androidkeepalive2.AndroidKeepAlive2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="org.sdecima.androidkeepalive2.Servicio1"></service>
        <receiver android:name="org.sdecima.androidkeepalive2.BroadcastReceiverOnBoot" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.sdecima.androidkeepalive2.BroadcastReceiverAlarma">
            <intent-filter>
                <action android:name="org.sdecima.androidalarmmanager.alarma"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
