<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sdecima.cursoandroid.ejercicios.contentproviderlibros"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission android:name="org.sdecima.cursoandroid.ejercicios.libros.provider.permiso"></permission>
    <uses-permission android:name="org.sdecima.cursoandroid.ejercicios.libros.provider.permiso"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider android:name="LibrosProvider" android:authorities="org.sdecima.cursoandroid.ejercicios.libros.provider"
            android:exported="true" android:permission="org.sdecima.cursoandroid.ejercicios.libros.provider.permiso"></provider>
    </application>

</manifest>
